
.favorites-sneakers{
    &__wrapper{  
        display: flex;
        align-items: center;
        justify-content: center;
        &.has-no-favorites-sneakers{
            height: 100vh;
            padding: 175px 0 50px;
        }
    }
}

.favorites{
    &-list{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 260px;
        flex-wrap: wrap;
        grid-gap: 40px;
        padding: 50px 0;
        height: 100%;
    }
}